name: Build and test

on:
  workflow_call:
    inputs:
      php-versions:
        required: true
        type: string
      connections:
        required: true
        type: string
      default-php-version:
        required: true
        type: string
      default-connection:
        required: true
        type: string
      project:
        required: true
        type: string
      organization:
        type: string
        default: monicahq
      matrix-exclude:
        type: string
        default: '[]'
      testsuites:
        type: string
      database_seed:
        type: boolean
        default: false
      database_name:
        type: string
        default: monica
      database_secret:
        type: string
        default: secret
      vite:
        type: boolean
        default: true
      mock-assets:
        type: boolean
        default: true
      node-version:
        type: string
      assets:
        description: 'List of assets to mock'
        type: string
        default: app.js app.css

    secrets:
      SONAR_TOKEN:
        required: true

jobs:
  init:
    name: Initialize
    runs-on: ubuntu-latest
    outputs:
      matrix: ${{ steps.matrix.outputs.matrix }}
    steps:
      - name: Setup matrix
        id: matrix
        run: |
          {
            echo -n "matrix={"
            echo -n "\"php-version\": ${{ inputs.php-versions }},"
            echo -n "\"connection\": ${{ inputs.connections }},"
            if [ -n "${{ inputs.testsuites }}" ]; then
              echo -n "\"testsuites\": ${{ inputs.testsuites }},"
            fi
            echo "\"exclude\": ${{ inputs.matrix-exclude }}}"
          } | tee $GITHUB_OUTPUT

  tests:
    name: Unit tests
    uses: ./.github/workflows/test_website.yml
    needs: init
    with:
      php-version: ${{ matrix.php-version }}
      connection: ${{ matrix.connection }}
      coverage: ${{ matrix.connection == inputs.default-connection && matrix.php-version == inputs.default-php-version }}
      testsuite: ${{ matrix.testsuites }}
      database_seed: ${{ inputs.database_seed }}
      database_name: ${{ inputs.database_name }}
      database_secret: ${{ inputs.database_secret }}
      vite: ${{ inputs.vite }}
      mock-assets: ${{ inputs.mock-assets }}
      node-version: ${{ inputs.node-version }}
      assets: ${{ inputs.assets }}

    strategy:
      fail-fast: false
      matrix: ${{ fromJson(needs.init.outputs.matrix) }}

  reporting:
    name: Reportings
    uses: ./.github/workflows/reporting.yml
    with:
      project: ${{ inputs.project }}
      organization: ${{ inputs.organization }}
      pattern: ${{ format('results_{0}_{1}*', inputs.default-connection, inputs.default-php-version) }}
    secrets:
      SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
    needs: tests
