name: Unit tests

on:
  workflow_call:
    inputs:
      php-version:
        required: true
        type: string
      laravel-version:
        required: true
        type: string
      coverage:
        required: true
        type: boolean

jobs:
  tests:
    runs-on: ubuntu-latest
    name: Tests with PHP ${{ inputs.php-version }} + Illuminate ${{ inputs.laravel-version }}

    steps:
      - name: Checkout sources
        uses: actions/checkout@v6

      - name: Install php dependencies
        uses: monicahq/workflows/.github/actions/php@v4
        with:
          php-version: ${{ inputs.php-version }}
          connection: ${{ inputs.connection }}
          coverage: ${{ inputs.coverage }}

      - name: Install dependencies with Laravel ${{ inputs.laravel-version }}
        run: |
          export COMPOSER_ROOT_VERSION=dev-main
          composer require "illuminate/support:${{ inputs.laravel-version }}" --no-update
          composer update --no-interaction --no-progress --prefer-dist

      - name: Set results artifact name
        id: artifact
        run: echo "name=${{ inputs.php-version }}_${{ inputs.laravel-version }}" | sed -e "s/*//g" >> $GITHUB_OUTPUT

    # Test
      - name: Run php tests
        uses: monicahq/workflows/.github/actions/phptests@v4
        with:
          connection: ${{ inputs.connection }}
          coverage: ${{ inputs.coverage }}
          testsuite: ${{ inputs.testsuite }}
          artifact: ${{ steps.artifact.outputs.name }}
